<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="mult" method="get">
    <div>
        <section>
            <label>First Number</label>
            <input type="text" name="first" id="first">
        </section>

        <section>
            <label>Second Number</label>
            <input type="text" name="second" id="second">
        </section>

        <section>
            <input type="submit" value="Checkout">
        </section>


    </div>
</form>

</body>
</html>